@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

.container {
    background-color: #060b26;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: Hack, monospace;
}

.nav-bar {
    margin-top: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 100px 10px;
}

.author {
    padding-bottom: 20px;
}